@model Shop_Project.Models.ConsoleVersion

@{
    ViewData["Title"] = "Details";
}

<div class="text-dark">
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.Image)" alt="display" width="300" height="300" />
        </dd>
        <dd class="col-sm-2">
            <b>@Html.DisplayNameFor(model => model.DateOfRelease):</b>   @Html.DisplayFor(model => model.DateOfRelease)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-10">
            <iframe src="@Html.DisplayFor(model => model.trailer)" width="420" height="345"></iframe>
        </dd>
    </dl>
</div>
<div class="text-white">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

