@model IEnumerable<Shop_Project.Models.ConsoleVersion>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="mahtel.css">
    <h4>Consoles in stock</h4>
</head>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<body class="text-white">

    @foreach (var item in Model)
    {
        <div class="card mycard" style="width:200px">

            <a href="@Url.Action("Details","ConsoleVersions",new { id = item.Id })">
                <img class="btn card-img-top" style="height:200px" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image">
            </a>
            <div class="card-body">
                <h4 class="card-title textsize14">@Html.DisplayFor(modelItem => item.Name)</h4>
                <br />
                <p class="card-text textsize12 text-center"><b>@Html.DisplayFor(modelItem => item.Price)</b></p>
                <a class="btn btn-primary detailbtncolor" asp-action="Details" asp-route-id="@item.Id">More Details</a>
            </div>
        </div>
    }

</body>
<style>

    .detailbtncolor {
        border-color: #B7D153;
        background-color: #90ac0a;
        display: block;
        left: 50%;
    }

        .detailbtncolor:hover {
            border-color: #90ac0a;
            background-color: #B7D153;
            color: #000000;
        }

    .textsize14 {
        font-size: 14px;
        font-weight: bold;
    }

    .textsize10 {
        font-size: 10px;
    }

    .textsize12 {
        font-size: 12px;
    }

    .mycontainer {
        width: 100%;
    }

    .mycard {
        background: none;
        display: inline-block;
    }
</style>