@model IEnumerable<Shop_Project.Models.Game>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="mahtel.css">
    
</head>


<p>
    <div class="nav justify-content-start ">
        <a class="btn dbtnc1 rounded-pill " asp-action="Create">Create a new Game/Accessories</a>
        <a class="btn dbtnc1 rounded-pill " asp-controller="ConsoleVersions" asp-action="Create">Create/Edit a new Consolse</a>
        <a class="btn dbtnc1 rounded-pill " asp-controller="Consoles" asp-action="Index">Create a new Console for NAVBAR</a>
        <a class="btn dbtnc1 rounded-pill" asp-controller="Genres" asp-action="Index">Create/Edit a new Genre type</a>
    </div>
</p>

<body>
    <h4 class="white">Games in stock</h4>
    @foreach (var item in Model)
    {
        <div class="card mycard" style="width:200px">

            <a href="@Url.Action("Details","Games",new { id = item.Id })">
                <img class="btn card-img-top" style="height:220px" src="@Html.DisplayFor(modelItem => item.Image)" alt="Card image">
            </a>
            <div class="card-body">
                <h4 class="card-title textsize14">@Html.DisplayFor(modelItem => item.Name)</h4>
                <p class="card-text textsize10"><b>@Html.DisplayFor(modelItem => item.Console.Name) ONLY!</b> </p>
                <br />
                <p class="card-text textsize12 text-center"><b>@Html.DisplayFor(modelItem => item.Price)</b></p>
                <a class="btn btn-primary btn-dark dbtnc" asp-action="Details" asp-route-id="@item.Id">More Details</a>
                <a class="btn btn-primary btn-dark dbtnc" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary btn-danger btn-dark dbtnc " asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }

</body>
<script src="~/js/index.js"></script>


