@model IEnumerable<Shop_Project.Models.Console>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Index</h1>

<h2 class="text-white">
    <form asp-action="Search" asp-controller="Consoles">
        <input name="searchId" placeholder="search.." value="4" />
        <input name="search" placeholder="search.." value="ps5" hidden />
        <input type="submit" value="ps5" class="btn btn-primary" />
    </form>
</h2>
<p class="text-white">
    <a asp-action="Create">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
